<app-version-number></app-version-number>
<div class="login-page">
  <div>
    <form class="login-form" novalidate (ngSubmit)="onSubmit()">
      <div class="input-row">
        <label for="username">username : </label>
        <input id="username" />
      </div>
      <div class="input-row">
        <label for="password">password : </label>
        <input id="password" type="password"/>
      </div>
      <div class="button-row">
        <button type="submit">submit</button>
      </div>
    </form>
  </div>
</div>
