.login-form {
  display: block;
  
  .controls-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    
    label {
      padding-right: 1rem;
    }
  }
}