.login-component {
  display: block;
  position: relative;
  
  .login-form {
    padding: 1rem;
    display: block;

    .controls-line {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 1rem;

      label {
        padding-right: 1rem;
      }
    }
  }

  .waiting-overlay {
    display: block;
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
  }

}
